@import url( './reset.css');

body {
	width : 100%;
	height: 100%;
}

.section {
	width : 100vw;
	height: 100vh;
}

.section--1 {
	background: #f44336;
}

.section--2 {
	background: #2196f3;
}

.section--3 {
	background: #4caf50;
}

.section--features {}

.feature {
	width : 50%;
	height: 50%;
	float : left;
}

.feature--1 {
	background: #f44336;
}

.feature--2 {
	background: #2196f3;
}

.feature--3 {
	background: #4caf50;
}

.feature--4 {
	background: #ff9800;
}

.section--details {
	width     : 100vw;
	overflow-x: hidden;
	position  : fixed;
	top       : 0;
	left      : 0;
	opacity: 1;
}

.section--details.transparent {
	opacity: 0;
	transition: opacity .3s;
}
.section--details.inexistent {
	display: none;
}

.details__container {
	width   : 400vw;
	height  : 100%;
	position: relative;
	left    : 0;
	/*z-index: -100;*/
	/*transition: left .3s;*/
}

.details__close {
	position: absolute;
	top: 20px;
	right: 20px;
}

.details__panel {
	position  : absolute;
	top       : 0;
	width     : 100vw;
	height    : 100%;
	float     : left;
	overflow-x: hidden;
}

.details__panel--1 {
	left      : 0;
	background: #f44336;
	/*background: red;*/
	clip-path : circle(1px at 25% 25%);
}

.details__panel--1.clip-full {
	clip-path : circle(110% at 25% 25%);
	transition: clip-path .3s;
}

.details__panel--2 {
	left      : 25%;
	background: #2196f3;
	/*background: blue;*/
	clip-path : circle(1px at 75% 25%);
}

.details__panel--2.clip-full {
	clip-path : circle(110% at 75% 25%);
	transition: clip-path .3s;
}

.details__panel--3 {
	left      : 50%;
	background: #4caf50;
	/*background: green;*/
	clip-path : circle(1px at 25% 75%);
}

.details__panel--3.clip-full {
	clip-path : circle(110% at 25% 75%);
	transition: clip-path .3s;
}

.details__panel--4 {
	left      : 75%;
	background: #ff9800;
	/*background: orange;*/
	clip-path : circle(1px at 75% 75%);
}

.details__panel--4.clip-full {
	clip-path : circle(110% at 75% 75%);
	transition: clip-path .3s;
}
