@import url( './reset.css');

body {
	width                       : 100%;
	height                      : 100%;
	-webkit-scroll-snap-points-y: repeat(100%);
	scroll-snap-points-y        : repeat(100%);
	-webkit-scroll-snap-type    : mandatory;
	scroll-snap-type            : mandatory;
}

.section {
	width : 100vw;
	height: 100vh;
}

.section--1 {
	background: #f44336;
}

.section--2 {
	background: #2196f3;
}

.section--3 {
	background: #4caf50;
}

.section--features {}

.feature {
	width : 50%;
	height: 50%;
	float : left;
}

.feature--1 {
	background: #f44336;
}

.feature--2 {
	background: #2196f3;
}

.feature--3 {
	background: #4caf50;
}

.feature--4 {
	background: #ff9800;
}

.section--details {
	width     : 100vw;
	overflow-x: hidden;
	position  : fixed;
	top       : 0;
	left      : 0;
	opacity   : 1;
}

.section--details.transparent {
	opacity           : 0;
	-webkit-transition: opacity .3s;
	transition        : opacity .3s;
}

.section--details.inexistent {
	display: none;
}

.details__container {
	width   : 400vw;
	height  : 100%;
	position: relative;
	left    : 0;
	/*z-index: -100;*/
	/*transition: left .3s;*/
}

.details__close {
	position: absolute;
	top     : 20px;
	right   : 20px;
}

.details__panel {
	position  : absolute;
	top       : 0;
	width     : 100vw;
	height    : 100%;
	float     : left;
	overflow-x: hidden;
}

.details__panel--1 {
	left: 0;
}

.details__panel--2 {
	left: 25%;
}

.details__panel--3 {
	left: 50%;
}

.details__panel--4 {
	left: 75%;
}

.panel__background {
	r: 1px;
}

.spread {
	r         : 110%;
	transition: r .3s;
}

.panel__background--1 {
	fill: #f44336;
	cx  : 25%;
	cy  : 25%;
	/*background: red;*/
}

.panel__background--2 {
	fill: #2196f3;
	cx  : 75%;
	cy  : 25%;
	/*background: blue;*/
}

.panel__background--3 {
	fill: #4caf50;
	cx  : 25%;
	cy  : 75%;
	/*background: green;*/
}

.panel__background--4 {
	fill: #ff9800;
	cx  : 75%;
	cy  : 75%;
	/*background: orange;*/
}

.panel__content {
	width   : 100%;
	height  : 100%;
	position: absolute;
	top     : 0;
	bottom  : 0;
	opacity : 0;
}

.panel__content.appear {
	opacity   : 1;
	transition: opacity .3s .15s;
}

/*PANELS CONTENTS*/
/* bumping */
.hand {
	position         : absolute;
	top              : 50%;
	-webkit-transform: translateY(-50%);
	transform        : translateY(-50%);
	width            : 100%;
	height           : 150px;
	background       : #fff;
}

.hand.hand--left {
	left: -90%;
}

.hand.hand--right {
	right: -90%;
}

.paf {
	position  : absolute;
	top       : 0;
	left      : 0;
	width     : 100%;
	height    : 100%;
	background: lightblue;
	opacity   : 0;
}

/* texture */
.ovo {
	position  : absolute;

	width     : 150px;
	height    : 150px;
	background: bisque;
}

.ovo--static {
	left: calc(50% - 75px);
	top : 100px;
}

.ovo--moveable {
	top: 70%;
	left: 100px;
}

.ovo--moveable::after {
	display: block;
	content: '';
	width: 50px;
	height: 50px;
	background: red;
	transition: transform .1s;
}

.ovo.is-pointer-down::after {
	transform: scale(1.5);
}

.texture {
	position  : absolute;
	bottom    : 0;
	left      : 0;
	width     : 25%;
	height    : 25vw;
	background: red;
}

.texture--1 {
	left: 25%;
}

.texture--2 {
	background: blue;
	left      : 50%;
}

.texture--3 {
	background: green;
	left      : 75%;
}
