@import url( './reset.css');

body {
	width   : 100%;
	height  : 100%;
}

.section {
	width : 100vw;
	height: 100vh;
}

.section--1 {
	background: #f44336;
}

.section--2 {
	background: #2196f3;
}

.section--3 {
	background: #4caf50;
}

.section--features {}

.feature {
	width : 50%;
	height: 50%;
	float : left;
}

.feature--1 {
	background: #f44336;
}

.feature--2 {
	background: #2196f3;
}

.feature--3 {
	background: #4caf50;
}

.feature--4 {
	background: #ff9800;
}

.section--slider {
	width: 100vw;
	overflow-x: hidden;
	/*position: fixed;
	top: 0;
	left: 0;*/
}

.slider__container {
	width: 400vw;
	height: 100%;
	position: relative;
	left: 0;
	/*z-index: -100;*/
	transition: left .3s;
}

.slider {

	width : 100vw;
	height: 100%;
	float: left;
	overflow-x: hidden;

}

.slider--1 {
	background: #f44336;
}

.slider--2 {
	background: #2196f3;
}

.slider--3 {
	background: #4caf50;
}

.slider--4 {
	background: #ff9800;
}
