@import url(normalize.css);
//@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

$mainDark: #27293A;
$secondaryDark: #894f87;

$mainLight: #ffbe32;

@keyframes fadeinTop{
	0%{
		opacity: 0;
		transform: translateX(-50%) translateY(-10%);
	}
	100%{
		opacity: 1;
		transform: translateX(-50%) translateY(0);
	}
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

html{
	background-color: $mainLight;
	transition: background-color 500ms;
}

body{
	font-family: "azo-sans-web";
	overflow-x: hidden;
	color: $mainDark;
	margin: 0 auto;
}

.container{
	max-width: 2000px;
	margin: 0 auto;
}

p, a{
	font-family: "filson-soft";
	text-decoration: none;
}

h1, h2, h3, h4, p, a, img{

	&::selection{
		background-color: $mainLight;
		color: $mainDark;
	}
}

.title{
	line-height: 1.6rem;
	margin-bottom: .4rem;
	margin-top: 0;
}

.text{
	line-height: 1.6rem;
	margin: 0;
	margin-bottom: 1.6rem;
	font-weight: 300;
}

header{
	position: relative;
	padding: 0 5% 4.8rem 5%;
	overflow: hidden;
	background-image: url("../images/separator_01.svg");
	background-repeat: no-repeat;
	background-position: center bottom;

	.header__img_container{
		width: 80%;
		max-width: 300px;
		position: absolute;
		top: 3.5rem;
		left: 50%;
		transform: translateX(-50%)translateY(-10%);
		opacity: 0;	
		animation: fadeinTop 500ms forwards;

		.product_img{
			width: 100%;
		}
	}

	.header__title, .header__subtitle, .header__text{
		position: relative;
		left: 50%;
		transform: translateX(-50%) translateY(-10%);
		text-align: center;
		opacity: 0;	
		animation: fadeinTop 500ms forwards 200ms;
	}

	.header__title{
		text-align: center;
		font-weight: 900;
		font-size: 4rem;
		padding-top: 6.4rem;
		z-index: 15;
		animation-delay: 400ms;
		text-indent: -9999px;
		background-image: url("../images/logo.png");
		background-size: 70%;
		background-position: center bottom;
		background-repeat: no-repeat;
	}

	.header__subtitle{
		margin-top: 3.4rem;
		font-size: 2rem;
		line-height: 2.4rem;
		animation-delay: 600ms;
	}

	.header__text{
		margin-top: 2.4rem;
		font-size: 1.2rem;
		animation-delay: 800ms;
	}
}

section{
	position: relative;
	z-index: 50;
	padding: 5.2rem 5% 5.2rem 5%;
	background-color: white;

	.animated_img{
		display: block;
		max-width: 100%;
		width: 50%;
		margin: 0 auto;
		transition: all 800ms cubic-bezier(.38,.65,.35,.93);

		&.img__left{
			transform: translateX(-5%);
			opacity: 0;
		}

		&.img__right{
			transform: translateX(5%);
			opacity: 0;
		}

		&.appear-left{
			transform: translateX(0);
			opacity: 1;
		}
		&.appear-right{
			transform: translateX(0);
			opacity: 1;
		}
	}

	&:first-of-type{
		padding-top: 6.2rem;
	}

	&.intro{

		.animated_img{
			margin: 0 auto;
		}
	}

	&.connect{
		background: url("../images/separator_02.svg") no-repeat center -2px,
					url("../images/separator_03.svg") no-repeat center 101%;
		padding: 12rem 5% 7rem 5%;
		background-color: #ff433d;
		background-color: transparent;

		.text--white, .section__title--white{
			color: white;
		}

		.animated_img{
			margin-top: 3.2rem;
			margin-bottom: 3.2rem;
			width: 50%;
			float: left;
		}
	}

	&.use{
		.section__title:nth-of-type(2){
			margin-top: 3.2rem;
		}
	}

	&.features{
		padding-top: 13.6rem;
		background-color: transparent;
		background: url("../images/separator_04.svg") no-repeat center -2px,
					url("../images/separator_05.svg") no-repeat center bottom;

		.text{
			margin-bottom: 6.4rem;
		}

		// .text, .section__title{
		// 	color: white;
		// }
	}

	&.order{
		margin-bottom: 0;
		padding-bottom: 300px;

		.section__title{
			display: block;
			margin: 0 auto;
			width: 100%;
			padding-top: 8.5rem;
			text-align: center;
			line-height: 2.4rem;
		}

		.order__button{
			background-color: $secondaryDark;
			position: relative;
			left: 50%;
			top: 4.2rem;
			transform: translateX(-50%);
			color: white;
			display: inline-block;
			padding: 4% 6%;
			transition: all 300ms;
			font-size: 1.2rem;
		}
	}

	.section__title{
		font-size: 2rem;
		margin-bottom: 1.8rem;
		padding-top: .3rem;
		color: $mainDark;
		z-index: 5;
	}

	&.material{
		margin-bottom: 0;
	}

}

@media only screen and (min-width: 650px) and (max-width: 900px) {
	header{
		padding-bottom: 8rem;
	}

	section.connect{
		padding-bottom: 11.8rem;
	}
}

@media only screen and (min-width: 900px){

	.text{
		font-size: 1rem;
	}

	header{
		padding: 0 5% 16rem 5%;

		.header__img_container{
			left: 50%;
			top: 5.5rem;
			width: 30%;
			min-width: 380px;
			max-width: 600px;
		}

		.header__title, .header__subtitle, .header__text{
			width: 48%;
		}

		.header__title{
			font-size: 5rem;
			padding-top: 12.2rem;
			background-size: 50%;
		}

		.header__subtitle{
			font-size: 3rem;
			line-height: 3.2rem;
			margin-top: 3.4rem;
		}

		.header__text{
			font-size: 1.5rem;
			line-height: 1.6rem;
			margin-top: 1.5rem;
		}
	}

	section{
		padding: 5.2rem 5% 5.2rem 5%;

		// .animated_img{
		// 	max-width: 400px;
		// }

		.animated_img{
			max-width: 600px;
		}

		.section__title, .text{
			width: 38.2%;
			position: relative;
		}

		.section__title{
			text-align: left;
			font-size: 3rem;
			line-height: 3.2rem;
		}

		&.intro{

			.section__title, .text{
				width: 40.2%;
				margin-left: 10.3%;
			}

			.animated_img{
				width: 30%;
				position: absolute;
				right: 10.3%;
				top: 6rem;
			}
		}

		&.connect{
			padding-bottom: 20.3rem;

			.section__title, .text{
				width: 38.2%;
				margin-left: 30.9%;
			}

			.animated_img{
				width: 30%;

				&:first-of-type{
					margin-left: 20%;
				}
			}
		}

		&.use{

			.section__title, .text{
				margin-left: 51.5%;
			}

			.animated_img{
				width: 30%;
				position: absolute;
				left: 5.15%;
				top: 0;
			}

			.section__title:nth-of-type(2), .text:nth-of-type(3){
				margin-left: 10.3%;
			}

			.section__title:nth-of-type(2){
				margin-top: 6.2rem;
			}

			.animated_img:nth-of-type(2) {
				left: auto;
				right: 5.15%;
				top: auto;
				bottom: -3.2rem;
			}
		}

		&.features{
			.section__title, .text{
				z-index: 10;
			}

			#touch, #touch + .text{
				margin-left: 61.8%;
			}

			#material, #material + .text{
				margin-left: 51.5%;
			}

			.animated_img{
				width: 40%;
				position: absolute;
				left: 50%;
				top: 25%;
				transform: translateX(-50%);
				z-index: 1;
			}
		}

		&.order{
			.section__title{
				width: 60%;
				line-height: 3.2rem;
			}

			.order__button{
				padding: 1% 2%;

				&:hover{
					transform: translateX(-50%) scale(1.2);
				}
			}
		}
	}
}

@media only screen and (min-width: 1300px){
	header{
		padding-bottom: 25%;

		.header__title{
			padding-top: 20.2rem;
		}
	}

	section{

		&.intro{
			padding-bottom: 20%;

			.section__title{
				margin-top: 9.6rem;
			}
		}

		&.connect{
			padding-bottom: 25%;
		}

		&.use{
			padding-bottom: 15%;

			.animated_img{
				left: 15.45%;
			}

			.section__title:nth-of-type(2){
				margin-top: 25%;
			}

			.animated_img:nth-of-type(2){
				bottom: 0;
				right: 15.45%;
			}
		}

		&.features{
			padding-top: 20%;
			padding-bottom: 15%;
		}
	}
}

@media only screen and (min-width: 1700px){
	header{

		.header__title{
			padding-top: 20%;
		}

		.header__text{
			max-width: 600px;
		}

		.header__img_container{
			top: 10%;
		}
	}

	section{

		#cont{
			width: 100%;
		}

		&.intro{

			.animated_img{
				right: 15%;
			}
		}

		&.use{

			.animated_img:first-of-type{
				left: 20%;
			}

			.animated_img:last-of-type{
				right: 20%;
			}
		}
	}
}